@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space-Grotesk', sans-serif;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
.showcase{
  background-image: linear-gradient(to right bottom, #33b89f, #33b89f, #33b89f, #33b89f, #33b89f, #0db4ad, #00afb8, #00a9c0, #009ad8, #0087f0, #006cfb, #3f3eed);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


